In [5]:
import pandas as pd
import numpy as np

In [12]:
my_dict = {"col1": [1,2,3,4], "col2":[3,4,5,8], "col3":[5,7,8,9]}
a = ['a','b','c','d']

In [13]:
df = pd.DataFrame(data=my_dict, index=a)

In [14]:
df

   col1  col2  col3
a     1     3     5
b     2     4     7
c     3     5     8
d     4     8     9

In [15]:
df.loc['c']

col1    3
col2    5
col3    8
Name: c, dtype: int64

In [16]:
df.iloc[0]

col1    1
col2    3
col3    5
Name: a, dtype: int64

In [38]:
dict2 = {"col1": [1,2,3,4], "col2": pd.Series([4,6], index=[2,3])}
df2 = pd.DataFrame(data=dict2, index=[0,1,2,3])

In [39]:
df2

   col1  col2
0     1   NaN
1     2   NaN
2     3   4.0
3     4   6.0

In [40]:
b = pd.Series([2,3,4,5],index=[1,2,3,4])

In [41]:
df2.insert(0, "new_col", b)

In [36]:
df2

   new_col  col1  col2
0      NaN     1   NaN
1      2.0     2   NaN
2      3.0     3   4.0
3      4.0     4   6.0